{% extends 'Layout/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/main.css">
{% endblock %}


{% block body %}
    <header>
        <h1><a href='/'><i class="ri-timer-fill"></i> Décompteur</a></h1>
        <button type="button" id="menu-button"><i class="ri-menu-line"></i></button>

        <nav id="main-nav">
            <ul>
                <li><i class="ri-timer-fill"></i> <a href="{{ path('app_information_project') }}">This project</a></li>
                <li><i class="ri-timer-fill"></i> <a href="{{ path('app_information_me') }}">Who am I?</a></li>
                <li><i class="ri-timer-fill"></i> <a href="{{ path('app_contribute_form') }}">Contribute</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div id="footer-content">
            <a href="{{ path('app_legal_legal') }}">Legal notices</a> -
            <a href="{{ path('app_legal_confidentiality') }}">Confidentiality</a> -
            <a href="{{ path('app_information_contact') }}">Contact</a> -
            <a href="https://github.com/LaurannePB" target="_blank"><i class="ri-github-fill"></i> Github</a>
        </div>
    </footer>
{% endblock %}

{% block javascript %}
<script src="/js/main.js"></script>
{% endblock %}